a {
  text-decoration:none !important;
}

.navbar {
    margin-bottom:0;
}

.subnav {
   margin:0;
  top: 0px;
  z-index: 1020;
  background-color: rgb(247,247,247);
  border-bottom: 1px solid #E1E1E1;
  padding: 8px 0px 0px 0px;
}

.subnav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.title-text {
  color:white;
}

.icon {
  border: none;
border-radius: 0 15px 15px 0;
background: #eee;
height: 100%;
width: 15%;
color: #4f5b66;
position: absolute;
z-index: 1;
}
