<!-- include js in views -->

<script src="../views/auth/auth.js"></script>
<script src="../views/common/common.js"></script>

<!-- JQuery -->
<script src="/03_include/js/jquery-2.1.4.js"></script>



<!-- include Bootstrap in views -->

<script src="../bootstrap/bootstrap.min.js"></script>
<script src="/03_include/js/deep.Common.js"></script>
<script src="/03_include/js/deep.Feed.js"></script>
<script src="/03_include/js/encrypt.rsa.js"></script>
<script src="/03_include/js/encrypt.aes.js"></script>
<script src="/03_include/js/encrypt.jsbn.js"></script>
<script src="/03_include/js/encrypt.prng4.js"></script>
<script src="/03_include/js/encrypt.rng.js"></script>

<!-- include Css in views -->
