<div class="navbar subnav" role="navigation">
    <div class="navbar-inner">
        <div class="container">
        <ul class="pager subnav-pager">
            <div class="btn-group-wrap">
                <button type="button" class="btn btn-success">sub 1</button>
                <button type="button" class="btn btn-success">sub 2</button>
                <button type="button" class="btn btn-success">sub 3</button>
                <button type="button" class="btn btn-success">sub 4</button>
                <button type="button" class="btn btn-success">sub 5</button>
                <button type="button" class="btn btn-success">sub 6</button>
             </div>
        </ul>
</div>
</div>
</div>
