<div class="subnav" role="navigation">
    <div class="container-fluid">
      <div class="col-xs-2 col-md-3">
      </div>
      <div class="col-xs-8 col-md-6">
        <ul class="nav">
              <li class="subLi"><a class="subA" href="#">All</a></li>
              <li class="subLi"><a class="subA" href="#">Java</a></li>
              <li class="subLi"><a class="subA" href="#">C#</a></li>
              <li class="subLi"><a class="subA" href="#">DataBase</a></li>
        </ul>
      </div>
      <div class="col-xs-2 col-md-3">
      </div>
    </div>
</div>
